<div class="template-footer">
    <!-- Container -->
    <div class="container">

        <!-- Page Content -->
        <section class="template-content">
            {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
        </section>
        <!-- End Page Content -->

    </div>
    <!-- End Container -->
</div>
